aside {
    section {
        margin-bottom: 1.5rem;

        h5 {
            color: #38598a;
            text-transform: uppercase;
            font-size: 0.9375rem;
            font-weight: 700;
        }
    }
}