@import "~assets/styles/base.scss";

.form-group {
    margin-bottom: 2rem;
}

.form-control {
    height: $fc-height;
    border-color: $fc-border-color;
    background: $fc-bg;

    &:focus {
        border-color: $fc-focus-border-color;
    }
}

input {
    &[type="text"],
    &[type="email"] {
        @include placeholder {
            color: $fc-placeholder-color;
        }
        height: $fc-height;
        padding: 0.75rem;
        box-shadow: $fc-inner-shadow inset;
    }
}

select.form-control:not([size]):not([multiple]) {
    height: $fc-height;
    padding: 0 0.5rem;
}

textarea {
    @include placeholder {
        color: $fc-placeholder-color;
    }
    font-size: 0.9375rem;
    resize: vertical;
    box-shadow: $fc-inner-shadow inset;
}
