@import "~assets/styles/base.scss";

.hero-banner {
    position: relative;
    height: 24rem;
    background-color: rgba(#00245a, 1);
    background-image: url("~assets/images/hero-banner-1.jpg");
    background-repeat: no-repeat;
    box-shadow: 0 0 4rem #00264d inset;

    &__content {
        color: #FFF;
        padding-right: 1.5rem;
        padding-left: 1.5rem;

        h1 {
            margin-top: -0.25rem;
            margin-bottom: 1.5rem;
            font-size: 2rem;
            line-height: 2rem;
    
            span {
                display: inline-block;
            }
        }
    
        p {
            margin-bottom: 1.5rem;
            font-size: 0.9375rem;
            font-weight: 300;
            line-height: 1.4rem;
        }
    
        strong {
            color: $gold;
            font-weight: 700;
        }
    
        .badge {
            position: relative;
            top: 0.4rem;
            color: $gold;
            vertical-align: top;
            text-align: left;
            text-transform: uppercase;
            font-size: 0.875rem;
        }
    }

    &__content--cta-btns {
        @include clearfix();

        strong {
            display: block;
            color: #fff;
            font-size: 1rem;
            font-weight: 600;
        }

        .btn {
            margin-top: 0.45rem;
            padding: 0.5rem;
            min-width: 7rem;
            text-transform: uppercase;
            font-size: 0.85rem;
            font-weight: 700;

            + span {
                display: inline-block;
                margin: 0.25rem;
            }
        }
    }

    .container {
        display: table;
        padding: 0;
        height: 100%;
        max-width: 1100px;

        &__inner-container {
            display: table-cell;
            vertical-align: middle;
        }
    }

    a:not[class^="btn"] {
        color: $gold;
    }

    &.auto-size {
        height: auto;
        min-height: auto;
    }
}

@media (max-width: 574px) {
    .hero-banner {
        background-position: -12rem top;
        background-size: 290%;
    }
}

@media (min-width: 575px) {
    .hero-banner {
        background-position: -10rem center;
        background-size: 160%;
    }
}

@media (min-width: 768px) {
    .hero-banner {
        height: 22rem;
        background-position: center top;
        background-size: 115%;

        &__content {
            padding-right: 4rem;
            padding-left: 4rem;

            h1 {
                line-height: 2.5rem;
                font-size: 2.4rem;
            }
    
            p {
                margin-bottom: 2rem;
                line-height: 2rem;
                font-size: 1.2rem;
            }
        }
    }
}

@media (min-width: 992px) {
    .hero-banner {
        background-size: 100%;
    }
}

@media (min-width: 1200px) {
    .hero-banner {
        height: 30rem;
        background-position: center -2rem;
        background-repeat: no-repeat;
        background-size: 120%;

        &__content {
            padding-top: 2rem;
            padding-right: 2rem;
            padding-left: 2rem;

            h1 {
                font-size: 2.65rem;
            }
        }
    }
}

@media (min-width: 1200px) and (min-height: 900px) {
    .hero-banner {
        height: 40rem;
        background-position: center -3rem;
        background-size: 140%
    }
}

@media (min-width: 1600px) and (min-height: 900px) {
    .hero-banner {
        background-position: center -4rem;
        background-size: 120%
    }
}