<div class="hero-banner hb-sm">
    <div class="container">
        <div class="container-inner">
            <div class="hb-txt">
                <h1>Legislation</h1>
                <p>Learn about the legislation and regulations that apply to environmental assessments in the province of British Columbia.</p>
            </div>
        </div>
    </div>
</div>

<section>
    <div class="container" id="anchor-point">
        <main>
            <section>
                <p>The British Columbia Environmental Assessment Act requires that certain major project proposals obtain an environmental assessment certificate before they can proceed. The types of projects that may be subject to the act to include industrial, mining, energy, water management, waste disposal, food processing, transportation and tourist destination resort projects.</p>
                <p>The legislation and accompanying regulations establish the framework for delivering environmental assessments. However, the scope, procedures and methods of each assessment are flexible and tailored specifically to the circumstances of each proposed project.</p>
            </section>

            <hr>

            <section>
                <h3>Responsible Minister Order</h3>
                <p>Under the Environmental Assessment Act, two ministers are responsible for making the decision on whether or not to issue an Environmental Assessment Certificate for a project undergoing an environmental assessment. The first is the Minister of Environment. The other is the “responsible minister”, who is the minister, through their Cabinet position, with responsibility for activities in a sector.</p>
                <p>An alternate responsible minister is designated for each of the categories for situations where the organization proposing to build a project is a government agency (for instance, a Crown corporation or a ministry) and the responsible minister is in charge of the government agency.</p>
                <p>The following table lists the responsible ministers and alternative responsible ministers for each category of reviewable projects.</p>
                <section>
                    <h4>Categories of Reviewable Projects</h4>
                    <section>
                        <h5>Energy / Electrical Projects</h5>
                        <ul>
                            <li>Minister of Energy and Mines and Minister Responsible for Core Review</li>
                            <li>Minister of Forests, Lands and Natural Resource Operations</li>
                        </ul>
                    </section>
                    <section>
                        <h5>Energy Projects – Petroleum and Natural Gas Projects</h5>
                        <ul>
                            <li>Minister of Natural Gas Development and Minister Responsible for Housing and Deputy Premier</li>
                            <li>Minister of Forests, Lands and Natural Resource Operations</li>
                        </ul>
                    </section>
                    <section>
                        <h5>Food Processing Projects</h5>
                        <ul>
                            <li>Minister of Agriculture</li>
                            <li>Minister of Forests, Lands and Natural Resource Operations</li>
                        </ul>
                    </section>
                    <section>
                        <h5>Industrial projects</h5>
                        <ul>
                            <li>Minister of Forests, Lands and Natural Resource Operations</li>
                            <li>Minister of Jobs, Tourism and Skills Training and Minister Responsible for Labour</li>
                        </ul>
                    </section>
                    <section>
                        <h5>Mine Projects</h5>
                        <ul>
                            <li>Minister of Energy and Mines and Minister Responsible for Core Review</li>
                            <li>Minister of Forests, Lands and Natural Resource Operations</li>
                        </ul>
                    </section>
                    <section>
                        <h5>Tourist Destination Resort Projects</h5>
                        <ul>
                            <li>Minister of Forests, Lands and Natural Resource Operations</li>
                            <li>Minister of Community, Sport and Cultural Development</li>
                        </ul>
                    </section>
                    <section>
                        <h5>Transportation projects</h5>
                        <ul>
                            <li>Minister of Transportation and Infrastructure</li>
                            <li>Minister of Community, Sport and Cultural Development</li>
                        </ul>
                    </section>
                    <section>
                        <h5>Waste disposal projects</h5>
                        <ul>
                            <li>Minister of Community, Sport and Cultural Development</li>
                            <li>Minister of Forests, Lands and Natural Resource Operations</li>
                        </ul>
                    </section>
                    <section>
                        <h5>Water Management Projects</h5>
                        <ul>
                            <li>Minister of Community, Sport and Cultural Development</li>
                            <li>Minister of Forests, Lands and Natural Resource Operations</li>
                        </ul>
                    </section>
                </section>
            </section>

            <hr>

            <section class="mb-0">
                <h3>2016 Exemption Regulation</h3>
                <p>Cabinet has approved a new regulation exempting certain projects from having to obtain an Environmental Assessment Certificate under the Environmental Assessment Act (the Act). </p>
                <p>The <a href="http://bclaws.ca/civix/document/id/complete/statreg/120_2016" target="_blank">Exemption Regulation</a> is limited to addressing part of the implications of a recent British Columbia Supreme Court (BCSC) case (<a href="http://www.courts.gov.bc.ca/jdb-txt/sc/16/00/2016BCSC0034cor1.htm"  target="_blank">Coastal First Nations v. British Columbia</a>). In that case, the BCSC found that Act does not provide government with the authority to dispense with an environmental assessment certificate decision under its equivalency agreement with the National Energy Board (NEB).</p>
                <p>The decision had implications on projects that had been constructed and already reviewed and approved by the NEB. Government decided not to impose post construction certificate requirements on projects that were previously assessed and approved by the NEB because it would not be practical nor procedurally fair. The projects reviewed by the National Energy Board that meet the criteria under the new Regulation and will not require an environmental assessment certificate are:</p>
                <ul>
                    <li>Spectra South Peace Pipeline;</li>
                    <li>Nova Gas Transmission Groundbirch Pipeline;</li>
                    <li>Nova Gas Transmission Horn River Mainline Extension;</li>
                    <li>Spectra Dawson Gas Plant; and</li>
                    <li>Spectra Fort Nelson North Plant</li>
                </ul>
                <p>EAO has begun a process for the projects which are also impacted by the court decision but have not been approved or constructed, like Kinder Morgan's Trans Mountain Expansion Project. Following a process set out by EAO, including consultation with Aboriginal groups, Ministers will make environmental assessment decisions on these projects according to the Act.</p>
                <p class="mb-0">For more information, please see <a href="https://news.gov.bc.ca/releases/2016ENV0028-000821" target="_blank">BC Gov News</a>.</p>
            </section>
        </main>
    </div>
</section>