.popup-close-button {
    position: fixed;
    right: 40px;
    background: transparent;
    color: white;
    border: none;
}

.popup-zoom-button {
    position: fixed;
    right: 14px;
    background: transparent;
    color: white;
    border: none;
}
