<app-header [navigation]="navigation"></app-header>

<div class="spinner-container" *ngIf="loading">
	<div class="spinner-new rotating"></div>
</div>

<router-outlet id="scrollTop"></router-outlet>

<app-footer [footerData]="footer" [navigation]="navigation"></app-footer>

<a href="#scrollTop" class="btn scroll-top-btn"
	pageScroll
	[pageScrollOffset]="0"
	[pageScrollDuration]="800">
	<i class="material-icons">arrow_upward</i>
</a>

<!-- Information Modal -->
<ng-template #informationModal>
	<div class="modal-header">
		<h5 class="modal-title" id="informationModalHeader">{{ modalMessage.title || 'Information'}}</h5>
		<button type="button" class="close" (click)="dismiss()" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
	<div class="modal-body" [innerHtml]="modalMessage.description | safeHtml"></div>
	<div class="modal-footer">
		<button type="button" class="btn content-btn-alt" (click)="dismiss()">OK</button>
	</div>
</ng-template>
