<div class="hero-banner">
    <div class="container">
        <div class="container__inner-container">
            <div class="hero-banner__content">
                <h1 id="pgTitle">Tailings Management</h1>
                <p>Tailings are a by-product of mining that must be properly managed to protect people and the environment.</p>
                <div class="hero-banner__content--cta-btns">
                    <a class="btn slide-r-btn hero-btn inverted" href="#anchor-point"
                        pageScroll
                        [pageScrollOffset]="68"
                        [pageScrollDuration]="800"><span>Read More</span><i class="material-icons">arrow_downward</i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container" id="anchor-point">
    <div class="row">
        <main class="col-lg-8">
            <section>
                <h2>Ensuring effective tailings management at all mine sites in British Columbia</h2>
            </section>
            <section>
                <h4>What are Tailings?</h4>
                <p>Tailings are a by-product of coal and metal mining. Tailings are composed of finely ground rocks and water and often contain reagents or chemicals used in the processing of the target material (e.g., coal and minerals containing metals such as copper or gold).</p>
                <h4>How are Tailings Different than Overburden and Waste Rock?</h4>
                <p>Overburden and waste rock are the material (e.g., soil, rock) that is moved during mining activities to access the target material. Unlike tailings, overburden and waste rock do not have concentrations of target materials of economic interest and are not processed. Overburden and waste rock are generally stored on mine sites in piles or dumps, but may also be stored underwater to mitigate <a href="http://www2.gov.bc.ca/gov/content/industry/mineral-exploration-mining/permitting/ml-ard" target="_blank" rel="noopener">leaching and acid rock drainage (ML/ARD).</a></p>
                <h4>How are Tailings Managed at mine sites?</h4>
                <p>Tailings management varies by mine site, in consideration of the processing method and the site conditions. At most major mines where tailings are produced, the tailings are mixed with water and deposited as a slurry into a purpose-built tailing storage facility (TSF). TSF’s often use dams to create capacity to permanently store tailings for the life of the mine and throughout closure.</p>
                <h4>How are Tailings Regulated?</h4>
                <p>TSF’s, including mining dams, in British Columbia are regulated under Part 10 of the <a href="https://www2.gov.bc.ca/gov/content/industry/mineral-exploration-mining/health-safety/health-safety-and-reclamation-code-for-mines-in-british-columbia" target="_blank" rel="noopener">Health, Safety and Reclamation Code for Mines in British Columbia (the Code)</a>, as established under the <a href="https://www.bclaws.gov.bc.ca/civix/document/id/complete/statreg/00_96293_01" target="_blank" rel="noopener">Mines Act.</a> In response to the Report on Mount Polley Tailings Storage Facility Breach by the Independent Expert Engineering Investigation and Review Panel, Part 10 of the Code was updated in 2016 to introduce several new requirements to improve TSF safety and management.</p>
                <h4>Continuous Improvement in British Columbia’s Mining Regulations</h4>
                <p>The Ministry of Energy, Mines and Low Carbon Innovation is committed to continuous regulatory improvement of mining. To support this commitment, the 2016 revisions to TSF Code requirements was the topic of the first Chief Auditor’s report under the Mines Act, titled <a href="https://www2.gov.bc.ca/gov/content/industry/mineral-exploration-mining/mine-audits-unit/audits" target="_blank" rel="noopener">The Audit of Code Requirements for Tailings Storage Facilities.</a> The audit examined industry compliance with four key Code requirements:</p>
                <ul>
                  <li>Engineer of Record</li>
                  <li>Independent Tailings Review Board</li>
                  <li>TSF Qualified Person</li>
                  <li>Annual TSF Inspection (commonly called Dam Safety Inspection)</li>
                </ul>
                <p>The Ministry has prepared a <a href="https://nrs.objectstore.gov.bc.ca/lteczn/BCMI_DOCS/2022-TSF-Compliance-Status.pdf" target="_blank" rel="noopener">table of TSF-related compliance status</a> for metal and coal mines with one or more TSFs.</p>
                <p>Visit the <a href="https://www.mines.nrs.gov.bc.ca/mines">site-specific pages on this website</a> to review Dam Safety Inspections.</p>
            </section>
            <div class="content-links">
                <a class="btn content-btn slide-l-btn" href="/topics-of-interest" [routerLink]="['/topics-of-interest']"><i class="material-icons">arrow_back</i><span>Back to Topics</span></a>
            </div>
        </main>
        <aside class="col-lg-4">
            <section class="card">
                <h4 class="card-header">Related Documents</h4>
                <ul class="nv-list">
                    <li><a href="http://www2.gov.bc.ca/assets/gov/farming-natural-resources-and-industry/mineral-exploration-mining/documents/developing-a-mine/mou_impoundments_diversions.pdf" target="_blank" rel="noopener">Memorandum of Understanding Regulation of Impoundments and Diversions on a Mine  Site (EMLI, MOE, FLNRO)</a></li>
                </ul>
            </section>
            <section class="card">
                <h4 class="card-header">External Links &amp; Resources</h4>
                <ul class="nv-list">
                    <li><a href="http://www2.gov.bc.ca/gov/content/industry/mineral-exploration-mining/health-safety/health-safety-and-reclamation-code-for-mines-in-british-columbia" target="_blank" rel="noopener">Health, Safety and Reclamation Code for Mines in British Columbia </a></li>
                    <li><a href="http://mining.ca/towards-sustainable-mining/protocols-frameworks/tailings-management" target="_blank" rel="noopener">Towards Sustainable Mining: Tailings Management (Mining Association of Canada) </a></li>
                </ul>
            </section>
        </aside>
    </div>
</div>
