
<header id="header">
	<div class="brand-container">
		<a class="brand" href="/" [routerLink]="['/']" tabindex="0"></a>
		<button class="navbar-toggler float-right collapsed" type="button" 
			data-toggle="collapse" 
			data-target="#mainNav" 
			aria-controls="mainNav" 
			aria-expanded="false" 
			aria-label="Toggle navigation"><i class="material-icons">menu</i><span>MENU</span>
		</button>
	</div>
	<nav class="navbar navbar-toggleable-md main-nav">
		<div class="collapse navbar-collapse" id="mainNav">
			<ul class="navbar-nav">
				<li class="nav-item">
					<a class="nav-link" href="/home" [routerLink]="['/home']"><span>Home</span></a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/project" [routerLink]="['/project']"><span>Find EA Projects</span></a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/news" [routerLink]="['/news']"><span>Activities & Updates</span></a>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" id="aboutMMTI" tabindex="0"
						data-toggle="dropdown" 
						aria-haspopup="true" 
						aria-expanded="false"><span>The EA Process</span><span class="caret"></span>
					</a>
					<div class="dropdown-menu dropdown-menu-right" aria-labelledby="aboutMMTI">
						<a class="dropdown-item" ui-sref="legislation" tabindex="0">
							<strong>Legislation</strong>
							<span class="dd-item-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</span>
						</a>
						<a class="dropdown-item" ui-sref="process-and-procedures">
							<strong>Process & Procedures</strong>
							<span class="dd-item-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</span>
						</a>
						<a class="dropdown-item" ui-sref="compliance-oversight">
							<strong>Compliance Oversight</strong>
							<span class="dd-item-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</span>
						</a>
					</div>
				</li>
				<!--
				<li class="nav-item">
					<a class="nav-link" ui-sref="guidance"><span>Support</span></a>
				</li>
				-->
				<li class="nav-item">
					<a class="nav-link" ui-sref="contact"><span>Contact</span></a>
				</li>
				<li class="nav-item user-menu">
					<a class="nav-link" href="https://projects.eao.gov.bc.ca/authentication/local/signin" target="_blank"><span>Sign in</span></a>
				</li>
			</ul>
		</div>
	</nav>
</header>
	
<router-outlet>
	
	<!--
	<div *ngIf="!home">
		<h1>Recent News</h1>
		<div class="list-group table-of-contents">
			<div *ngFor="let p of recentNews" class="list-group-item">
					<div class="list-group-item">{{p.id}}</div>
				<div class="">{{p.headline}}</div>
			</div>
		</div>
	</div>
	-->
	
</router-outlet>

	<!--
	<div id="pad">
		<nav>
			<ul>
				<li><a href="/" [routerLink]="['/']">Home</a></li>
				<li><a href="/project" [routerLink]="['/project']">Project</a></li>
				<li><a href="/news" [routerLink]="['/news']">News</a></li>
			</ul>
		</nav>


		<div class="container">
			<router-outlet>
				<div *ngIf="recentNews">
					<h1>Recent News</h1>
					<div class="list-group table-of-contents">
						<div *ngFor="let p of recentNews" class="list-group-item">
							 <div class="list-group-item">{{p.id}}</div>
							<div class="">{{p.headline}}</div>
						</div>
					</div>
				</div>
			</router-outlet>
		</div>
	</div>
	-->


<footer>
	<div class="container">
		<div class="row">

			<div class="col-md-4">
				<section>
					<h4>About this website...</h4>
					<p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
				</section>
			</div>

			<div class="col-md-4">
				<section>
					<h4>Navigate</h4>
					<h5>Find EA Projects</h5>
					<ul>
						<li>
							<a ui-sref="projects">Find EA Projects by List</a>
						</li>
						<li>
							<a ui-sref="projects">Find EA Projects by Map</a>
						</li>
					</ul>
					<h5>The EA Process</h5>
					<ul>
						<li>
							<a ui-sref="legislation">Legislation</a>
						</li>
						<li>
							<a ui-sref="process-and-procedures">Process & Procedures</a>
						</li>
						<li>
							<a ui-sref="compliance-oversight">Compliance Oversight</a>
						</li>
					</ul>
				</section>
			</div>

			<div class="col-md-4">
				<section class="last">
					<h4>Connect With Us</h4>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
					<a class="btn slide-r-btn inverted" ui-sref="contact"><span>Submit Feedback</span><i class="material-icons">arrow_forward</i></a>
				</section>
			</div>
		</div>

		<div class="footer-admin clearfix">
			<ul class="gov-links">
				<li><a ui-sref="home">Home</a></li>
				<li><a href="http://www2.gov.bc.ca/gov/content/home/copyright" target="_blank">Copyright</a></li>
				<li><a href="http://www2.gov.bc.ca/gov/content/home/disclaimer" target="_blank">Disclaimer</a></li>
				<li><a href="http://www2.gov.bc.ca/gov/content/home/privacy" target="_blank">Privacy</a></li>
				<li><a href="http://www2.gov.bc.ca/gov/content/home/accessibility" target="_blank">Accessibility</a></li>
				<li><a ui-sref="authentication.signin">Sign In</a></li>
			</ul>
			<!--
			<ul class="connect-links">
				<li>
					<div class="fb-share-button" data-href="https://mines.nrs.gov.bc.ca" data-layout="button" data-size="large" data-mobile-iframe="true">
						<a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fmines.nrs.gov.bc.ca%2F&amp;src=sdkpreparse">
							<img src="/modules/core/client/images/facebook_circle.svg"/>
						</a>
					</div>
				</li>
				<li>
					<a class="twitter-share-button" href="https://twitter.com/share" data-show-count="false" target="_blank">
						<img src="/modules/core/client/images/twitter_circle.svg"/>
					</a>
					<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
				</li>
				<li>
					<a href="https://plus.google.com/share?url=mines.nrs.gov.bc.ca" onclick="window.open(this.href,
					'', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;"><img
					src="/modules/core/client/images/google_circle.svg" alt="Share on Google+"/></a>
				</li>
			<ul>
			-->
		</div>
		
	</div>
</footer>
