<div class="tab-pane" id="administrative-penalties" role="tabpanel">
  <p class="tab-intro">
    The Administrative Monetary Penalities (AMP) program allows the Ministry to impose a financial penalty on any
    individual or corporation that contravenes prescribed provisions of the
    <strong>Mines Act</strong>
    , the regulations and/or the
    <strong>Health, Safety and Reclamation Code</strong>
    . AMPs provide an additional compliance and enforcement tool that is efficient, cost-effective and flexible, and can
    be imposed without court involvement. AMPs were introduced under the Mines Act in 2017.
  </p>

  <table class="table enforcements-table" id="tableTop">
    <thead class="enforcements-table__sort-header">
      <tr>
        <th class="enforcements-table__name-col">Issued To</th>
        <th class="enforcements-table__mine-col">Mine Name</th>
        <th class="enforcements-table__date-col">Date of Determination</th>
      </tr>
    </thead>
    <tbody class="enforcements-table__content">
      <tr *ngFor="let item of administrativePenalties">
        <td class="accordion__collapse-item p-0" colspan="3">
          <div class="accordion__collapse-header" id="accordHead" role="tab">
            <a
              class="accordion__collapse-header--column toggle collapsed"
              data-toggle="collapse"
              href="#accordCollapse{{ item._id }}"
            >
              <i class="material-icons open-icon">add</i>
              <i class="material-icons close-icon">remove</i>
            </a>
            <span class="accordion__collapse-header--column enforcements-table__name-col">
              <a data-toggle="collapse" href="#accordCollapse{{ item._id }}">
                {{ item.issuedTo ? item.issuedTo : 'N/A' }}
              </a>
            </span>
            <span class="accordion__collapse-header--column enforcements-table__mine-col">
              <a
                *ngIf="item.mineGuid && getMineFromGuid(item.mineGuid)"
                class="inside-td"
                [routerLink]="['/p', getMineFromGuid(item.mineGuid)._id]"
              >
                {{ getMineFromGuid(item.mineGuid).name }}
              </a>
              <span *ngIf="!item.mineGuid || !getMineFromGuid(item.mineGuid)" class="inside-td">
                {{ item.unlistedMine ? item.unlistedMine : 'N/A' }}
              </span>
            </span>
            <span class="accordion__collapse-header--column enforcements-table__date-col">
              <span class="inside-td">{{ item.dateIssued | date: 'yyyy-MM-dd' }}</span>
            </span>
          </div>
          <div class="collapse" id="accordCollapse{{ item._id }}" role="tabpanel">
            <div class="accordion__collapse-body">
              <div class="enforcements-table__enforcement-details">
                <div class="row">
                  <div class="col-sm-6">
                    <strong class="name">Issued To:</strong>
                    <span class="value">{{ item.issuedTo ? item.issuedTo : 'N/A' }}</span>
                  </div>
                  <div class="col-sm-6">
                    <strong class="name">Location:</strong>
                    <span class="value">{{ item.location ? item.location : 'N/A' }}</span>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-6">
                    <strong class="name">Mine Name:</strong>
                    <a
                      *ngIf="item.mineGuid && getMineFromGuid(item.mineGuid)"
                      class="value"
                      [routerLink]="['/p', getMineFromGuid(item.mineGuid)._id]"
                    >
                      {{ getMineFromGuid(item.mineGuid).name }}
                    </a>
                    <span *ngIf="!item.mineGuid || !getMineFromGuid(item.mineGuid)" class="value">
                      {{ item.unlistedMine ? item.unlistedMine : 'N/A' }}
                    </span>
                  </div>
                  <div class="col-sm-6">
                    <strong class="name">Mine Type:</strong>
                    <span *ngIf="item.mineGuid && getMineFromGuid(item.mineGuid)" class="value">
                      {{ getMineFromGuid(item.mineGuid).type }}
                    </span>
                    <span *ngIf="!item.mineGuid || !getMineFromGuid(item.mineGuid)" class="value">
                      {{ item.unlistedMineType ? item.unlistedMineType : 'N/A' }}
                    </span>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-6">
                    <strong class="name">Penalty:</strong>
                    <span class="value">{{ item.penaltiesString ? item.penaltiesString : 'N/A' }}</span>                    
                  </div>
                  <div class="col-sm-6">
                    <strong class="name">Date of Determination:</strong>
                    <span class="value">{{ item.dateIssued | date: 'yyyy-MM-dd' }}</span>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-6">
                    <strong class="name">Contravention or Failure to Comply:</strong>
                    <span class="value" *ngFor="let legislation of item.legislations">
                      {{ legislation.toString() ? legislation.toString() : 'N/A' }}
                      <br />
                    </span>
                    <span class="value" *ngIf="!item.legislations?.length">N/A</span>
                  </div>
                  <div class="col-sm-6">
                    <strong class="name">Document:</strong>
                    <a *ngFor="let document of item.documents" class="value" href="{{ document.url }}" target="_blank" rel="noopener">
                      {{ document.fileName }}
                      <br />
                    </a>
                    <span class="value" *ngIf="!item.documents?.length">N/A</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
