
<div class="hero-banner hb-sm">
    <div class="container">
        <div class="container-inner">
            <div class="hb-txt">
                <h1>Project Activities & Updates</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>
        </div>
    </div>
</div>

<section>
	<div class="container" id="anchor-point">

        <div class="filter-bar mb-4">
			<div class="filter-input-row filters-basic">
				<div class="form-group">
					<input class="form-control" placeholder="Type a Project Name" type="text">
				</div>
				<button class="toggle-filter-btn btn btn-default btn-sm" (click)="toggleProjectListFilters()">
					<span ng-if="showProjectListFilters == false"><span class="btn-txt">Show Filters</span><i class="material-icons">keyboard_arrow_down</i></span>
					<!--
					<span ng-if="showProjectListFilters == true"><span class="btn-txt">Hide Filters</span><i class="material-icons">keyboard_arrow_up</i></span>
					-->
				</button>
			</div>

			<!-- TODO: PUT FILTERS HERE -->

		</div>
        
        <table class="table" *ngIf="results">
            <thead>
                <tr>
                    <th>Headline</th>
                    <th>Date</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of results | paginate: { itemsPerPage: 10, currentPage: p }">
                    <td colspan="2">
                        <h3>{{item.headline}}</h3>
                        <p>{{item.desc}}</p>
                    </td>
                </tr>
                <div class="spinner" [ngClass]="{ 'hidden': !loading }"></div>
                <pagination-controls
                    (pageChange)="p = $event"
                    maxSize="9"
                    directionLinks="true"
                    autoHide="true"
                    previousLabel="Previous"
                    nextLabel="Next"
                    screenReaderPaginationLabel="Pagination"
                    screenReaderPageLabel="page"
                    screenReaderCurrentLabel="You're on page"
                    >
                </pagination-controls>
            </tbody>
        </table>
	</div>
</section>