// Base
@import "@assets/styles/base.scss";

$toggle-list-anim-duration: 0.2s;
$map-component-shadow: 0.1rem 0.1rem 0.5rem rgba(0,0,0,0.25);

app-main-map:host {
    @include flex-box;
    @include flex-direction(column);
    @include fill-parent(fixed);
    margin-top: 55px;
}

@media (min-width: 768px) {
    app-main-map:host {
        margin-top: 66px;
    }
}

// Project Filters
.map-search {
    @include flex(0 0 auto);
    display: block;
    z-index: 1004;
    box-shadow: 0.1rem 0.1rem 1rem rgba(0, 0, 0, 0.15);
    width: 30rem;

 }

 @media (min-width: 1200px) {
    .map-search {
        position: absolute;
        width: 30rem;
        box-shadow: $map-component-shadow;
        transition: left ease-out $toggle-list-anim-duration;
    }
}

.toggle-disclaimer-btn {
    font-size: 0.9375rem;
    cursor: pointer;
}

.map-container {
    @include flex-box();
    @include flex-flow(column nowrap);
    position: absolute;
    width: 100%;
    height: 100%;

    .toggle-disclaimer-btn {
        position: absolute;
        bottom: 3rem;
        left: 6px;
        z-index: 1000;
        background: #eee;
    }
}

@media (min-width: 1024px) {
    .map-container {
        &:before {
            content: ' ';
            position: absolute;
            top: -66px;
            left: 0;
            width: 100%;
            height: 66px;
            background: $header-bg;
        }
    }
}
