// Colors
$primary:                       #003366;
$gold:                          #fcba19;

// Background Colors
$bg-dark:                       #003366;
$bg-dark-color:                 #FFF;
$bg-dark-link-color:            $gold;
$bg-dark-border-color:          #5475a7;

// Font Colors
$font-color:                    #494949;

// Links
$link-color:                    #1a5a96;

// Header
$header-font-color:             #FFF;
$header-bg:                     $primary;

// Footer
$footer-bg:                     $primary;
$footer-color:                  #FFF;

// Main Navigation
$mn-font-size:                  0.875rem; //14px
$mn-dropdown-menu-size:         0.875rem; //13px
$mn-color:                      #FFF;
$mn-border-color:               #5f79a2;
$mn-hover-bg:                   #2b4777;
$mn-hover-color:                $gold;
$mn-toggle-color:               $gold;
$mn-dropdown-bg:                #2b4777;

// COMPONENTS

// Aside
$aside-title-color:             #38598a;
$aside-bg:                      #f7f8fa;

// Cards
$card-header-color:             #fff;
$card-header-bg:                #38598a;

// Feature Blocks
$feature-block-color:           #FFF;
$feature-block-bg:              #244278;

// Form Controls
$fc-height:                     2.75rem;
$fc-border-color:               #ddd;
$fc-bg:                         #fff;
$fc-inner-shadow:               0.1rem 0.1rem 0.1rem #EEE;
$fc-placeholder-color:          #ccc;
$fc-focus-border-color:         #5091cd;

// List Variants
$nv-list-bg:                    #f7f8fa;

// Pagination Control
$pgn-btn-bg:                    #eee;
$pgn-btn-active-bg:             #5091cd;
$pgn-btn-active-color:          #fff;
$pgn-btn-border:                1px solid #ccc;
$pgn-btn-color:                 #000;

// Spinner
$spinner-width: 50px;
$spinner-color: #5091cd;
$spinner-bg: rgba(255,255,255,0.8);
$spinner-invert-color: #FFF;
$spinner-invert-bg: rgba(0,0,0,0.8);

// Tables
$table-header-bg:               #fff;
$table-header-hover-bg:         #ddd;
$table-header-sort-active:      #5091cd;
$table-row-bg:                  #f7f8fa;
$table-row-border:              3px solid #FFF;
$table-alt-row-bg:              #f4f4f4;

// Modal
$modal-bg:                      #FFF;
