
body {
    font-family: "myriad-pro";
    font-weight: 400;
}

h1 {
    font-size: 2.2rem;        // 36px 
    font-weight: 400;
    letter-spacing: -0.03rem;

    sup {
        top: 0;
        display: block;
        letter-spacing: 0;
        line-height: normal;
        font-size: 1.5rem;
        font-weight: 400;
    }
}

h2 {
    font-size: 2rem;        // 32px
    font-weight: 400; 
    letter-spacing: -0.05rem;
}

h3 {
    font-weight: 400;
}

h4 {
    font-weight: 400;
    line-height: 1.7rem;
}

p {
    margin-bottom: 1.75rem;
    font-size: 1rem;        //16px
    line-height: 1.75rem;
}

a {
    color: #1a5a96;
}

// Controls / Form Components
button, 
input, 
select, 
textarea {
    font-family: "myriad-pro";
}