// Map Control Customization
::ng-deep {
  .leaflet-popup-tip {
    background: #244278;
  }

  .leaflet-popup {
    margin-bottom: 30px; // Offset so we can see the marker
    background: #244278;
  }

  .leaflet-popup-content-wrapper {
    padding: 0;
    border-radius: 0.2rem;
    background: #244278;
  }

  .leaflet-popup-content {
    width: 400px !important;
    margin: 0;
    background: #244278;
  }

  .leaflet-top {
    @media (max-width: 550px) {
        top: 20%;
    }
  }
}
