<div class="hero-banner">
  <div class="container">
      <div class="container__inner-container">
          <div class="hero-banner__content">
              <h1 id="pgTitle">Administrative Monetary Penalties (AMPs) and Offence Prosecutions</h1>
          </div>
      </div>
  </div>
</div>

<div class="container" id="anchor-point">
  <main>
      <section>
          <h2>The Ministry of Energy, Mines, and Petroleum Resources (EMPR)</h2>
          <p>The Ministry of Energy, Mines and Petroleum Resources seeks to achieve voluntary compliance with applicable requirements wherever possible.  This is generally achieved through the issuance of orders to remedy non-compliance.  Where voluntary compliance cannot be achieved or where the non-compliance presents more significant risks, the Ministry may pursue the imposition of an administrative monetary penalty (AMP) or an offence prosecution.</p>
          <p>The AMP program allows the Ministry to impose a financial penalty on any individual or corporation that contravenes prescribed provisions of the Mines Act, the regulations and/or the Health, Safety and Reclamation Code. AMPs provide an additional compliance and enforcement tool that is efficient, cost-effective and flexible, and can be imposed without court involvement. AMPs were introduced under the Mines Act in 2017.</p>
          <p>Where a person contravenes a provision of the Mines Act, the regulations, the Health, Safety and Reclamation Code or an order, and where the evidence is supportive, charges may be recommended for approval by Crown Counsel. A person convicted of an offence under the Mines Act is liable to a fine of not more than $1,000,000 or to imprisonment for not more than three years or both.</p>
          <h4>AMP Decision Records:</h4>
          <ul>
            <li><a href="/assets/docs/Notice_of_Determination.pdf">Pinegreen Gold Mining (Canada) Ltd – Determination of Administrative Penalty</a></li>
            <li><a href="/assets/docs/Determination_Davis_Redacted.pdf">Davis Mining & Exploration Corp - Determination of Administrative Penalty</a></li>
            <li><a href="/assets/docs/Determination_SIA_Redacted.pdf">South Island Aggregates Ltd. - Determination of Administrative Penalty</a></li>
          </ul>
          <h4>Offence Prosecutions:</h4>
          <ul>
            <li><a href="https://www.canlii.org/en/bc/bcpc/doc/2019/2019bcpc31/2019bcpc31.html">R. v. Broda Construction Inc., 2019 BCPC 31</a></li>
            <li><p>R. v. Green Mountain Jade Inc.: In September 2019, the Court delivered a decision regarding sentencing and delivered Green Mountain Jade Inc. a fine of $20,000 and took into account a $50,000 donation the accused had made to the deceased’s family.
              <br/>
              On July 20, 2015, an excavator operator was conducting trenching activities. During these activities, his excavator became stuck on the steep slope in that area. After unsuccessful attempts to free the excavator, he lost control of the machine while operating it down the slope. The excavator rolled, and the operator was ejected and sustained serious injuries. He was air-lifted to the Dease Lake Medical Center where he succumbed to his injuries shortly after arrival.</p></li>
          </ul>
      </section>
  </main>
</div>
