0.0.0.0:2015

root /Users/mwardle/Documents/bcgov/mem-mmti-public/openshift/maintenance

log stdout

errors stdout

header / {
  Cache-Control "no-cache, no-store, must-revalidate"
  Pragma "no-cache"
  Expires "0"
}
