0.0.0.0:2015

root /var/www/html

log stdout

errors stdout

rewrite / {
  regexp .*
  to /
}

push /index.html {
  /resources/images/bcgov-mintinfo-horiz-LG.png
  /resources/images/flacicon.ico
  /resources/images/hero-banner-1.jpg
}

header / {
  Cache-Control "no-cache, no-store, must-revalidate"
  Pragma "no-cache"
  Expires "0"
}
