// Base
@import "~assets/styles/base.scss";

.search-banner {
    .hb-txt {
        padding: 3rem 1.5rem;
        width: 100%;
    }
}

@media (min-width: 900px) {
    .search-banner {
        .hb-txt {
            padding: 5rem 1.5rem;
        }
    }
}

@media (min-width: 1200px) {
    .search-banner {
        .hb-txt {
            margin-top: 4rem;
        }
    }
}

.search-form {
    input {
        font-size: 1rem;
        font-weight: 600;
    }

    &__btn-container {
        @include flex-box();
        @include flex-flow(column-reverse nowrap);
        justify-content: flex-start;
        align-items: flex-start;
    }

    &__search-btn {
        width: 100%;
        color: #fff;
        border-color: $gold;
        background: darken($gold, 5%);
        text-transform: uppercase;
        font-size: 0.9375rem;
        font-weight: 700;

        &:active,
        &:focus,
        &:hover {
            border-color: $gold;
            background: $gold;
            color: #002663;
        }
    }

    &__toggle-advanced-btn {
        @include flex(0 0 auto);
        margin-top: 0.75rem;
        margin-bottom: 1.5rem;
        padding: 0.15rem;
        color: $gold;
        border: none;
        text-decoration: none;
        font-size: 0.85rem;


        i {
            margin-top: -2px;
            margin-right: 0.2rem;
        }
    }
}

@media (min-width: 760px) {
    .search-form {
        &__search-btn {
            width: 8rem;
        }
    }
}

.search-results {
    &__header {
        padding: 1rem 0;
        
        .srch-count {
            font-weight: 600;
        }
    }
    &__footer {
        padding: 1rem 0;
        text-align: center;
    }

    &-item {
        position: relative;
        margin-bottom: 0.25rem;
        padding: 1rem;
        flex-flow: column wrap;
        align-items: left;
    
        &__actions {
            margin-top: 1.25rem;
            font-size: 0.875rem;

            a {

                + a {
                    &:before {
                        content: '|';
                        display: inline-block;
                        width: 1rem;
                        text-align: center;
                    }
                }
            }
        }
    
        &__description {
            margin-top: 1rem;
            overflow: hidden;
            word-break: break-all;
            line-height: calc(0.875rem * 1.5);
            font-size: 0.875rem;
        }
    
        &__meta {
            margin-top: 0.4rem;
            font-size: 0.875rem;
        }
    
        &__project-name {
            margin-bottom: 0.4rem;
            line-height: 1rem;
            font-size: 0.975rem;
            font-weight: 400;
        }
    
        &__title {
            margin-bottom: 0.4rem;
            line-height: 1.4rem;
            text-overflow: ellipsis;
            font-size: 1.2rem;
            font-weight: 600;
        }    
    }
}

@media (min-width: 1200px) {
    .search-results {
        &-item {
            padding: 1.5rem;

            &__actions {
                margin-top: 1.25rem;
            }
            &__description {
                line-height: 1.5rem;
                font-size: 1rem;
            }
            &__meta {
                position: absolute;
                top: 0.75rem;
                right: 1.5rem;
            }
            &__project-name {
                margin-bottom: 0.75rem;
                font-size: 1.25rem;
            }
            &__title {
                line-height: 1.8rem;
                font-size: 1.5rem;
            }
        }
    }
}