// Base
@import "~assets/styles/base.scss";

.search-banner {
    .hb-txt {
        width: 100%;
    }

    &__search-btn {
        color: #fff;
        border: 2px solid #fff;
        background: transparent;
        text-transform: uppercase;
        font-size: 0.85rem;
        font-weight: 700;

        &:active,
        &:focus,
        &:hover {
            border-color: $gold;
            background: $gold;
            color: #002663;
        }
    }

    .toggle-search-btn {
        color: $gold;
        border: none;
        font-size: 0.85rem;
    }
}

.search-results {
    &__header {
        padding: 1rem 0;
        
        .srch-count {
            font-weight: 600;
        }
    }
    &__footer {
        padding: 1rem 0;
        text-align: center;
    }

    &-item {
        position: relative;
        padding: 1.5rem;
        flex-flow: column wrap;
        align-items: left;
    
        &__actions {
            a {
                + a {
                    &:before {
                        content: '|';
                        display: inline-block;
                        width: 1rem;
                        text-align: center;
                    }
                }
            }
        }
    
        &__description {
            margin-top: 1rem;
            overflow: hidden;
            line-height: calc(0.9375rem * 1.5);
            font-size: 0.9375rem;
        }
    
        &__meta {
            margin-top: 0.2rem;
            font-size: 0.85rem;
        }
    
        &__project-name {
            margin-bottom: 0.25rem;
            line-height: 1rem;
            font-size: 1rem;
            font-weight: 400;
        }
    
        &__title {
            margin-bottom: 0.4rem;
            text-overflow: ellipsis;
            font-size: 1.5rem;
            font-weight: 400;
        }    
    }
}

@media (min-width: 640px) {
    .search-results {
        &-item { 
            &__meta {
                position: absolute;
                top: 0;
                right: 0;
                padding: 1.5rem;
            }
        
            &__project-name {
                margin-bottom: 0.4rem;
                line-height: 1.25rem;
                font-size: 1.25rem;
            }
        
            &__title {
                margin-bottom: 1rem;
                font-size: 1.75rem;
            }
        }
    }
}