<div class="spinner-container inverted full-screen" *ngIf="loading == true">
    <div class="spinner-new rotating"></div>
</div>

<div class="hero-banner search-banner hb-auto">
    <div class="container">
        <div class="container-inner">
            <div class="hb-txt">
                <h1>Search BC Mine Information...</h1>

                <form #f="ngForm" class="search-form ui form" (ngSubmit)="onSubmit(f.value)">

                    <div class="search-form__basic-search-fields">
                        <div class="form-group mb-0">
                            <input class="form-control" type="text" placeholder="Enter Keywords..." name="keywordInput" id="keywordInput"
                                [disabled]="protoSearchActive" ngModel/>
                        </div>
                    </div>

                    <div class="search-form__advanced-search-fields mt-4" id="advancedSearchFields" [hidden]="!showAdvancedFields">
                        <div class="form-group mb-4">
                            <label for="projects">Project</label>
                            <tag-input class="form-control" name='projectInput'
                                [identifyBy]="'_id'"
                                [displayBy]="'name'"
                                ngModel>
                                   <tag-input-dropdown
                                        [identifyBy]="'_id'"
                                        [displayBy]="'name'"
                                        [autocompleteItems]="projects">
                                   </tag-input-dropdown>
                            </tag-input>
                        </div>
                        <div class="form-group mb-4">
                            <label for="ownerOperator">Owner/Operator</label>
                            <input class="form-control" type="text" placeholder="Enter an owner or operator name..." name="ownerOperatorInput" id="ownerOperator"
                                [disabled]="protoSearchActive" ngModel/>
                        </div>
                        <div class="form-group mb-0">
                            <label>Date Range</label>
                            <div class="form-inline">
                                <label class="sr-only" for="dateRangeStart">Start Date</label>
                                <input class="form-control" type="text" placeholder="Start Date" name="dateRangeStartInput" id="dateRangeStart"
                                    #dateRangeStart="ngbDatepicker"
                                    ngbDatepicker 
                                    readonly
                                    [disabled]="protoSearchActive"
                                    (click)="dateRangeStart.toggle()" ngModel/>
                                <span> &nbsp;&nbsp; - &nbsp;&nbsp; </span>
                                <label class="sr-only" for="dateRangeEnd">End Date</label>
                                <input class="form-control" type="text" placeholder="End Date" name="dateRangeEndInput" id="dateRangeEnd"
                                    #dateRangeEnd="ngbDatepicker"
                                    ngbDatepicker 
                                    readonly 
                                    [disabled]="protoSearchActive"
                                    (click)="dateRangeEnd.toggle()" ngModel/>
                            </div>
                        </div>
                    </div>

                    <div class="search-form__btn-container">
                        <button class="search-form__search-btn btn btn-primary slide-l-btn" 
                            [hidden]="protoSearchActive"
                            type="submit">
                            <i class="material-icons">search</i><span>Search</span>
                        </button>

                        <button class="search-form__search-btn btn btn-primary slide-l-btn"
                            [hidden]="!protoSearchActive"
                            disabled>
                            <i class="material-icons">search</i><span>Searching...</span>
                        </button>

                        <button class="search-form__toggle-advanced-btn btn btn-link" type="button" (click)="toggleAdvancedSearch()">
                            <span *ngIf="!showAdvancedFields">
                                    <i class="material-icons">add_box</i> Show Advanced
                            </span>
                            <span *ngIf="showAdvancedFields">
                                <i class="material-icons">indeterminate_check_box</i> Hide Advanced
                            </span>
                        </button>
                    </div>

                </form>

            </div>
        </div>
    </div>
</div>

<div class="container" id="anchor-point">
    <main>

        <!-- SEARCH RESULTS TEMPLATE -->
        <section class="add-spacer" *ngIf="ranSearch">
            <h2 class="mb-0" *ngIf="ranSearch && results && results.length > 0">Search Results</h2>

            <div class="search-results__header" *ngIf="results && results.length > 0">
                <span class="srch-count">{{results.length}} Results Found</span>
            </div>

            <section *ngIf="results && results.length < 1" >
                <h2>No Results Found</h2>
                <p class="mb-0">Sorry, we were unable to locate any results matching your search criteria.</p>
            </section>

            <ul class="search-results list-group">
                <li *ngFor="let item of results" class="list-group-item search-results-item">
                    <h3 class="search-results-item__project-name" 
                        *ngIf="item.project.name">{{item.project.name}}
                    </h3>
                    <div class="search-results-item__title mb-0">{{item.displayName}}</div>
                    <div class="search-results-item__meta">{{item.datePosted | date}}</div>
                    <div class="search-results-item__description mt-3" 
                        *ngIf="item.description">{{item.description}}
                    </div>
                    <div class="search-results-item__actions">
                        <a href="{{item.hostname}}/p/{{item.project.code}}/detail">View Project Page</a>
                        <a href="{{item.hostname}}/api/document/{{item._id}}/fetch">Download Document</a>
                    </div>
                </li>
            </ul>

            <!-- 
            <div class="search-results__footer mt-3" *ngIf="ranSearch && results && results.length > 0">
                <button class="btn content-btn-alt" (click)="dostuff()">Load More</button>
            </div>
            -->

        </section>

        <section>
            <h2>Example Searches</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            <ul class="mb-0">
                <li><span (click)="dostuff()">Environmental Assessment Act + Authorizations</span></li>
                <li><span (click)="dostuff()">Environmental Management Act + Authorizations</span></li>
                <li><span (click)="dostuff()">Mines Act + Authorizations</span></li>
            </ul>
        </section>
    </main>
</div>