@import "../../../assets/styles/base.scss";

.form-control {
    border-color: $fc-border-color;
    background: $fc-bg;
    font-size: 0.9375rem;

    &:focus {
        border-color: $fc-focus-border-color;
    }

    &__container {
        position: relative;

        .form-control {
            padding-right: 3.25rem;
        }

        .clear-btn {
            position: absolute; 
            top: 1px;
            right: 1px;
            bottom: 1px;
            width: 3rem;
            padding: 0.5rem;
            background: transparent;
        }
    }
}

input {
    &.form-control {
        height: $fc-height;
    }
    &[type="text"],
    &[type="email"] {
        @include placeholder {
            color: $fc-placeholder-color;
        }
        height: $fc-height;
        padding: 0.75rem;
        box-shadow: $fc-inner-shadow inset;
    }
}

select {
    &.form-control {
        &:not([size]):not([multiple]) {
            height: $fc-height;
            padding: 0 0.5rem;
        }
    }
}

textarea {
    @include placeholder {
        color: $fc-placeholder-color;
    }
    resize: vertical;
    box-shadow: $fc-inner-shadow inset;
}
