// Fix the type flashing bug that occurs when page loads
.wf-loading {
    display: none;
}

body {
    font-family: myriad-pro, system-ui, sans-serif;
    font-weight: 400;
}

h1 {
    font-size: 2.2rem;        // 36px
    font-weight: 400;
    letter-spacing: -0.03rem;

    sup {
        top: 0;
        display: block;
        letter-spacing: 0;
        line-height: normal;
        font-size: 1.4rem;
        font-weight: 400;
    }
}

h2 {
    font-size: 2rem;        // 32px
    font-weight: 400;
    letter-spacing: -0.05rem;
    color: #1A5A96;
}

h3 {
    font-weight: 400;
    color: #1A5A96;
}

h4 {
    font-weight: 400;
    line-height: 1.7rem;
    color: #1A5A96;
}

p {
    margin-bottom: 1.75rem;
    font-size: 1rem;        //16px
    line-height: 1.8rem;
}

a {
    color: #1a5a96;
}

button,
input,
select,
textarea {
    font-family: myriad-pro, system-ui, sans-serif;
}
